.boton_blanco{
    cursor: pointer;
    font-family: 'roboto';
    font-weight: bold;
    height: 3rem;
    padding: 0 1.5rem 0 1.5rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border-radius: 0.5em;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    transition: all 1s ease;
}
.boton_blanco:hover{
    color: #333333;
    background: #ffffff;
}
.button_second{
    cursor: pointer;
    font-family: 'roboto';
    font-weight: bold;
    text-decoration: none;
    height: 3rem;
    padding: 0 1.5rem 0 1.5rem;
    background-color: #5BE2AA;
    color: white;
    font-size: 1rem;
    border-radius: 0.5em;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    border: 2px solid transparent;
    display: block;
    margin: 0 auto;
    transition: all 1s ease;
}
.button_second:hover{
    color: #ffffff;
    background: rgb(64, 163, 122);
}
a{
    text-decoration: none;
}
.buttonForm{
    margin-top: 2rem;
}