body{
    margin: 0;
}
.h1{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #333333;
}
.h2{
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.2em;
    color: #333333;
    margin-left: 10%;
}
.h5{
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    margin-top: 8%;
    margin-left: 2rem;
    letter-spacing: 0.2em;
    color: #8F8F8F;
    

}
.nombre_barrio{
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: #ffffff;   
}
.parrafo{
    font-family: "roboto";
    line-height: 21px;
    font-size: 14px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    color: #333333;
}
.hight{
    line-height: 1px !important;
}
.foot{
    color: #7E7E7E;
    text-decoration-line: underline;
    text-align: center;
}
.peque{
    font-size: 12px;
}
a{
    color: #7E7E7E;
    text-decoration-line: underline;
    text-align: center;
} 
.back{
    margin: 0;
    width: 90%;
}
@media only screen and (min-width: 768px){
    .back{
        width: 80%;
    }
}