body{
    margin: 0;
}
.h1{
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #333333;
}
.h2{
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #333333;
}
.parrafo{
    font-family: "roboto";
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color: #333333;
}
.hight{
    line-height: 1px !important;
}
.foot{
    color: #7E7E7E;
    text-decoration-line: underline;

}
.peque{
    font-size: 12px;
}