body{
    margin: 0;
}
strong{
    color: #7a7a7a;
}
.h1{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 46px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #444444;
}
.h2{
    font-family: "Roboto", serif;  
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.2em;
    color: #444444;
    
}
@media only screen and (min-width: 960px){
    .h2{
        margin-left: 15%;
    }
    .nomargin{
        margin-left: 0 !important;
        max-width: 100% !important;
    }
}
.h5{
    font-family: "Roboto", serif;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    margin-top: 8%;
    margin-bottom: 3rem;
    letter-spacing: 0.2em;
    text-decoration: underline;
    color: #8F8F8F;
    text-align: left;
}
@media only screen and (min-width: 960px){
    .h5{
        text-align: left;
        margin-top: 3rem;
        margin-left: 15%;;
    }
}
.nombre_barrio{
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: #ffffff;   
}
.parrafo{
    font-family: "roboto";
    line-height: 21px;
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
    margin: 0 auto;
    color: #9b9a9a;
}
@media only screen and (min-width: 960px){
    .parrafo{
        max-width: 70%;
    }
}
.hight{
    line-height: 1px !important;
}

.peque{
    font-size: 12px;
}
a{
    text-align: center;
    color: #666666;
    text-decoration-line: underline;

} 