/*.over_menu :hover{
  fill: #5BE2AA !important;
}*/
header{
    display: block;
    background-color: white;
    width: 100%;
    height: 63px;
    position: fixed;
    bottom:0;
    bottom: 0;
    z-index: 3;
}
@media only screen and (min-width: 768px){
  header{
      top: 0 !important;
  }
}
.icono_menu{
  width: 30px;
  margin-top: 10px;
  fill: #c7c7c7; 
}

/*.icono_menu :hover{
  fill: #5BE2AA;
}*/
a {
  color: inherit;
  text-decoration: none;
  outline:none;
}
ul,li{
  padding:0px;
  margin:0px;
  list-style:none;
}
/*li:hover{
  color: #5BE2AA; 
}*/
.active{
  color: #5BE2AA !important;
  fill: #5BE2AA;
  font-weight: 600;
}
/*span:hover{
  color: #5BE2AA;
}*/
.webapp{
  width:100%;
  background-color:#e0e0e0;
  z-index: 3;
  position: absolute;
  
}

/***** MAIN PANEL*****/
#main-body {
    position: relative;
    height: calc(100% - 56px);
}

#app-panel {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

#app-menu{
  position:relative;
  height:72px;
  z-index: 3;
  width:100%;
  background-color:#fff;
}

.scroll-btn {
    position: absolute;
    height: 100%;
    width: 48px;
    display: table;
    color: #c7c7c7;
    text-align: center;
 
  cursor:pointer;
}
.scroll-btn i {
    display: table-cell;
    vertical-align: middle;
}

.right-scroll {
    right: 0px;
}

.left-scroll {
    left: 0px;
}

.app-menu-wrap{
    height: 100%;
    display: block;
    margin: 0px auto;

}

#flavor-menu{
    height: 100%;
    display: flex;
    left: 0;
    padding: 0px;
    margin: 0 13pxs;
    justify-content: center !important;
}
@media only screen and (min-width: 768px){
  #flavor-menu{
    margin: 0 auto !important;
  }
}
.logo{
  margin: 0 auto;
  display: block;
  margin: 10px 12px;
}
#flavor-menu li{
  display:flex;
  margin: 0px;
  height:72px;
  width:auto;
  text-align:center;
  padding:0px 8px;
}
@media only screen and (min-width: 768px){
  #flavor-menu li{
    display:flex;
    height:72px;
    width:auto;
    text-align:center;
    padding:0px 20px;
  }
}

#flavor-menu li i{
  display:block;
  font-size:24px;
  margin-bottom:10px;
  margin-top:8px;
}

#flavor-menu li span{
  display:block;
  font-size:10px;
  font-family: "Montserrat", sans-serif;
  line-height:14px;
  margin-bottom:16px;
  color: #c7c7c7;
}
@media only screen and (min-width: 768px){
  #flavor-menu li span{
    display:block;
    font-size:12px;
    font-family: "Montserrat", sans-serif;
    line-height:14px;
    margin-bottom:16px;
    color: #c7c7c7;
  }
}
/*#flavor-menu li span:hover{
  color: #5BE2AA;
  font-weight: 600;
}*/