.caja_alrededores{
    width: 331px;
    height: 147px;
    margin: auto;
    margin-bottom: 1rem;
    margin: 1rem 1rem;
}
.escorial{
    background-image: url(../img/escorial.jpg) !important;  
}
.aranjuez{
    background-image: url(../img/aranjuez.jpg) !important;  
}
.alcalah{
    background-image: url(../img/alcalah.jpg) !important;
}
.sierra{
    background-image: url(../img/sierra.jpg) !important;
}
.toledo{
    background-image: url(../img/toledo.jpg) !important;
}
.avila{
    background-image: url(../img/avila.jpg) !important;
}
.segovia{
    background-image: url(../img/segovia.jpg) !important;
}
.granja{
    background-image: url(../img/granja.jpg) !important;
}
.manzanares{
    background-image: url(../img/manzanares.jpg) !important;
}
