.content_cajas_barrios{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
@media only screen and (min-width: 768px){
    .content_cajas_barrios{
        width: 80%;
        flex-grow: 1;
    }
}
.caja_barrio{
    width: 331px;
    height: 147px;
    margin: auto;
    margin-bottom: 1rem;
}
.granvia{
    background-image: url(../img/granvia.jpg);

}
.retiro{
    background-image: url(../img/retiro.png);

}
.atocha{
    background-image: url(../img/atocha.png);
}
.alcala{
    background-image: url(../img/alcala.png);
}
.rio{
    background-image: url(../img/rio.png);
}
.real{
    background-image: url(../img/palacioreal.png);
}
.prado{
    background-image: url(../img/prado.png);
}
.cibeles{
    background-image: url(../img/cibeles.png);
}
.plazaespaña{
    background-image: url(../img/plazaespana.png);
}
.texto_barrio{
    display: flex;
    margin-top: 2.3rem;
    justify-content: center;
    align-items: center;
}
.flecha_derecha{
    width: 7px; 
    margin-left: 10px;
}