.content_cajas_barrios{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}
@media only screen and (min-width: 960px){
    .content_cajas_barrios{
        max-width: 90%;
        padding: 0 3rem 6rem;
    }
}
@media only screen and (min-width: 1680px){
    .content_cajas_barrios{
        max-width: 60%;
    }
}
.caja_barrio{
    width: 331px;
    height: 147px;
    margin: auto;
    margin-bottom: 1rem;
    margin: 1rem 1rem;
}

.caja_barrio:hover {
    background: linear-gradient(114.92deg, #5BE2AA 29.58%, #DBACFF 98.2%);
  }
 
.plazamayor{
    flex-grow: 2;
    background-image: url(../img/plaza_mayor.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.granvia{
    flex-grow: 1;
    background-image: url(../img/granvia.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.prado{
    flex-grow: 1;
    background-image: url(../img/prado.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.retiro{
    flex-grow: 1;
    background-image: url(../img/retiro.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.atocha{
    flex-grow: 1;
    background-image: url(../img/atocha.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.alcala{
    flex-grow: 1;
    background-image: url(../img/alcala.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.sol{
    flex-grow: 1;
    background-image: url(../img/sol.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.rio{
    flex-grow: 9;
    background-image: url(../img/rio.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.real{
    flex-grow: 0;
    background-image: url(../img/palacioreal.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.debod{
    flex-grow: 6;
    background-image: url(../img/debod.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.cibeles{
    flex-grow: 1;
    background-image: url(../img/cibeles.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.plazaespaña{
    flex-grow: 1;
    background-image: url(../img/plazaespana.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 23px;
}
.texto_barrio{
    display: flex;
    margin-top: 2.3rem;
    justify-content: center;
    align-items: center;
}
.flecha_derecha{
    width: 7px; 
    margin-left: 10px;
}