
.plaza_mayor{ 
    display: inline;
    width: 100%;
    height: auto;
    background-position: top;
    object-fit: cover;
    margin: 0 auto;
    z-index: -1;
}
@media only screen and (min-width: 768px){
    .plaza_mayor{
        background-position: top;
        margin: 0 auto;
        height: 80vh;
    }
    .img_header{
        margin: 0 auto;
        width: 80%;
    }
}
.info_box{
    background-color: #ffffff;
    position: relative;
    top:-3rem;
    border-radius: 23px;
    padding: 1rem;
    z-index: 1s;
}
@media only screen and (min-width: 768px){
    .back{
        margin-left: 10% !important;
        margin-top: 1rem !important;
    }
}