
@media only screen and (min-width: 960px){
    .header{
        top: 0 !important;
    }
}
.logo{
    margin: 0 auto;
    display: block;
    margin: 10px auto;
}
.content-home{
    display: flex;
    background-color: radial-gradient(69.35% 81.38% at 50% 50%, #5BE2AA 27.6%, #DBACFF 100%);background: radial-gradient(69.35% 81.38% at 50% 50%, #5BE2AA 27.6%, #DBACFF 100%);
    border-radius: 23px;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 2%;
    height: 80vh;
    position: relative;
}
@media only screen and (min-width: 960px){
    .content-home{
        padding-top: 7%;
        width: 100%;
        border-radius: 23px;
        margin: 0 auto;
    }
}
.margin{
    margin: 4rem auto !important;
}
@media only screen and (min-width: 960px){
.margin{
    margin: 6rem auto !important;
}
}
.texto-home{
    font-family:"Playfair Display";
    font-size: 20px;
    text-align: center;
    color: #333333;
    line-height: 28px;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(0px, -60px);
}
.madrid{
    font-weight: bold;
    font-size: 26px;
    line-height: 20px;
    color: #ffffff;
}
.madrid:hover{
    color: #ffffff;
}
@media only screen and (min-width: 760px){
    .texto-home{
        font-size: 30px;
        line-height: 38px; 
    }
    .madrid{
        font-weight: bold;
        font-size: 40px;
    }
}
.foto{
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
}
@media only screen and (min-width: 768px){
    .foto{
        width: 80%;
    }
}
.content_texto{
    width: 90%;
    margin: 0 auto;
}
@media only screen and (min-width: 768px){
    .content_texto{
        width: 70%;
    }
}
.icono_home{
    display: block;
    margin: 0 auto 1rem;
    width: 40px;
    height: 40px;
}
.content_barrio{
    background-image: url(../img/foto_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: bottom;
    width: 100%;
    border-radius: 23px;
}
.box_info{
    margin: 0 auto;
    width: 100%;
}
@media only screen and (min-width: 768px){
    .box_info{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
    }
}
@media only screen and (min-width: 960px){
    .box_info{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 65%;
    }
}
.flex{
    margin: 0 auto;
    width: 90%;
}
@media only screen and (min-width: 960px){
    .flex{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1680px){
    .flex{
        max-width: 60%;
    }
}
.ubi_transporte{
    margin:0 auto;
    width: 100%;
}
.nowrap{
    flex-wrap: nowrap;
    margin: 0 auto;
}
.white{
    color: white !important;
}
.fondo{
    background-color: #f5f5f5;
    border-radius: 23px;
    width: 100%;
    padding: 4rem 0;
}
.texto_categoria{
    width: 90%;
    padding: 7rem 0;
    margin: 0 auto;
}
@media only screen and (min-width: 768px){
    .texto_categoria{
        width: 70%;
    }
}
.content_info{
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 90%;
}
@media only screen and (min-width: 960px){
    .content_info{
        width: 50%;
        margin: 1rem auto;
    }
}
@media only screen and (min-width: 768px){
    .max_width{
        width: 30% ;
        margin: 1rem auto;
    }
}

.titulo_icono{
    display: flex;
    height: 3rem;
}
.icono_info{
    display: block;
    width: 30px;
    margin-right: 20px;
}