 
@media only screen and (min-width: 960px){
    .header{
        top: 0 !important;
    }
}
.content-home{
    display: flex;
    background: linear-gradient(114.92deg, #5BE2AA 29.58%, #DBACFF 98.2%);
    border-radius: 23px;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 2%;
    height: 80vh;
    position: relative;
}
@media only screen and (min-width: 960px){
    .content-home{
        padding-top: 7%;
        width: 100%;
        border-radius: 23px;
        margin: 0 auto;
    }
}
.margin{
    margin: 4rem auto !important;
}
@media only screen and (min-width: 960px){
.margin{
    margin: 6rem auto !important;
}
}
.texto-home{
    font-family:"Playfair Display";
    font-size: 20px;
    text-align: center;
    color: #333333;
    line-height: 28px;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(0px, -60px);
}
.madrid{
    font-weight: bold;
    font-size: 26px;
    line-height: 20px;
    color: #ffffff;
}
.madrid:hover{
    color: #ffffff;
}
@media only screen and (min-width: 760px){
    .texto-home{
        font-size: 30px;
        line-height: 38px; 
    }
    .madrid{
        font-weight: bold;
        font-size: 40px;
    }
}
.foto{
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
}
@media only screen and (min-width: 768px){
    .foto{
        width: 80%;
    }
}
.content_texto{
    width: 90%;
    margin: 0 auto;
}
@media only screen and (min-width: 960px){
    .content_texto{
        width: 80%;
    }
}
.icono_home{
    display: block;
    margin: 0 auto 1rem;
    width: 50px;
    height: 50px;
}
@media only screen and (min-width: 960px){
    .icono_home{
        width: 55px;
        height: 55px;
    }
}
.content_barrio{
    background-image: url(../img/foto_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: bottom;
    width: 100%;
    border-radius: 23px;
}
.box_info{
    margin: 0 auto;
    width: 100%;
}
@media only screen and (min-width: 768px){
    .box_info{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
    }
}
@media only screen and (min-width: 960px){
    .box_info{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
    }
}
.flex{
    margin: 0 auto;
    width: 90%;
}
@media only screen and (min-width: 768px){
    .flex{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
    }
}
@media only screen and (min-width: 1680px){
    .flex{
        max-width: 60%;
    }
}
.ubi_transporte{
    margin:0 auto;
    width: 100%;
}
.nowrap{
    flex-wrap: nowrap;
    margin: 0 auto;
}
.white{
    color: white !important;
}
.fondo{
    background-color: rgba(91, 226, 170, 0.07);
    border-radius: 23px;
    width: 100%;
    padding: 4rem 0;
}
.texto_categoria{
    width: 90%;
    padding: 7rem 0;
    margin: 0 auto;
}
@media only screen and (min-width: 960px){
    .texto_categoria{
        width: 80%;
    }
}
.content_info{
    flex-wrap: wrap;
    margin: 4rem auto;
    width: 90%;
}
@media only screen and (min-width: 960px){
    .content_info{
        width: 50%;
        margin: 4rem auto;
    }
}
@media only screen and (min-width: 768px){
    .max_width{
        width: 30%;
    }
} 

.titulo_icono{
    display: flex;
}
.icono_info{
    display: block;
    width: 50px;
    height: 50px;
    margin-top: -24px;
    margin-right: 20px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 45px;
    height: 45px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.185);
    border-radius: 23px;
    margin: 2rem auto;
    padding: 2rem;  
}
.icon_transport{
    width: 50px;
    height: 50px;
    margin-top: -15px;
}
.content_flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
}
@media only screen and (min-width:960px){
    .content_flex{
        max-width: 80%;
    }
}
.caja_barrio_index{
    width: 90%;
    height: 170px;
    margin: 1rem 0;
}
@media only screen and (min-width:678px){
    .caja_barrio_index{
        width: 45%;
        margin: 1rem 1rem;
    }
}
@media only screen and (min-width:960px){
    .caja_barrio_index{
        width: 20%;
       
    }
}
.content_food_index{
    width:90%;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.185);
    border-radius: 23px;
    height: min-content;
    margin: 0 auto 2rem;
}
@media only screen and (min-width:678px){
.content_food_index{
    width:45%;
    }
}
@media only screen and (min-width:960px){
    .content_food_index{
        width:23%;
        }
    }